
profiles {	
    standard {	
        process {	
            withName: 'trimReads' {	
                cpus = 10	
                memory = 12.GB	
            }	
            withName: 'filterTp' {	
                cpus = 16
                memory = 32.GB	
            }	
            withName: 'mapReads' {	
                cpus = 10
                memory = 12.GB	
            }	
            withName: 'deNovoAssembly' {	
                cpus = 10	
                memory = 12.GB	
            }
        }
    }
    laptop {	
        process {	
            withName: 'trimReads' {	
                cpus = 4	
                memory = 8.GB	
            }	
            withName: 'filterTp' {	
                cpus = 1
                memory = 1.GB	
            }	
            withName: 'mapReads' {	
                cpus = 4
                memory = 8.GB	
            }	
            withName: 'deNovoAssembly' {	
                cpus = 4	
                memory = 8.GB	
            }
        }
    }
    Cloud {	
        process {	
            withName: 'trimReads' {	
                cpus = 10	
                memory = 12.GB	
            }	
            withName: 'filterTp' {	
                cpus = 4
                memory = 8.GB	
            }	
            withName: 'mapReads' {	
                cpus = 10
                memory = 12.GB	
            }	
            withName: 'deNovoAssembly' {	
                cpus = 10	
                memory = 12.GB	
            }
        }
        aws.client.maxParallelTransfers = 2
    }
}

